<link rel="stylesheet" href="/css/application.css" />

<div id="application-main-container">
  <div id="topbar-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link <% if(!mode){ %>active <% } %>" href="/application"
          >All</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link <% if(mode=='Pending'){ %>active <% } %>"
          href="/application?mode=Pending"
          >Pending</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link <% if(mode=='Accepted'){ %>active <% } %>"
          href="/application?mode=Accepted"
          >Accepted</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link <% if(mode=='Rejected'){ %>active <% } %>"
          href="/application?mode=Rejected"
          >Rejected</a
        >
      </li>
    </ul>
  </div>

  <div id="application-list-container">
    <% for (app of applications){ %>
    <div class="list-item" id="application-<%= app._id %>">
      <div class="div">
        <img class="property-pic" />
        <div class="details">
          <p><%= app.property.title %></p>
          <p><%= app.property.location %></p>
          <% if(app.property.price) { %>
          <p><%= app.property.price %></p>
          <% } else { %>
          <p><%= app.property.rent %></p>
          <% } %>
        </div>
      </div>

      <div class="div">
        <img src="<%= app.tenant.avatar %>" class="tenant-avatar" />
        <div class="details">
          <p><%= app.tenant.name %></p>
          <p><%= app.tenant.email %></p>
          <p><%= app.tenant.contact %></p>
        </div>
      </div>

      <div class="btns">
        <% if(app.status==='Pending') { %>
        <a href="/application/accept?id=<%= app._id %>"
          ><button class="btn btn-outline-success">Accept</button></a
        >
        <a href="/application/reject?id=<%= app._id %>"
          ><button class="btn btn-outline-danger">Reject</button></a
        >

        <% } else if (app.status === 'Accepted') { %>
        <button class="btn btn-outline-success" disabled>Accepted</button>
        <% } else { %>
        <button class="btn btn-outline-danger" disabled>Rejected</button>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<div id="dummy"></div>
